Meninx.Productify.Web/Connected Services/ProductifyServiceReference/ProductifyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Meninx.Productify.Service.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Meninx.Productify.Service.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductContract" nillable="true" type="tns:ProductContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductContract" nillable="true" type="tns:ArrayOfProductContract" />
  <xs:complexType name="ProductContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attributes" nillable="true" type="tns:ArrayOfAttributeContract" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductContract" nillable="true" type="tns:ProductContract" />
  <xs:complexType name="ArrayOfAttributeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeContract" nillable="true" type="tns:AttributeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeContract" nillable="true" type="tns:ArrayOfAttributeContract" />
  <xs:complexType name="AttributeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="AttributeTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeContract" nillable="true" type="tns:AttributeContract" />
  <xs:complexType name="ArrayOfAttributeTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeTypeContract" nillable="true" type="tns:AttributeTypeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeTypeContract" nillable="true" type="tns:ArrayOfAttributeTypeContract" />
  <xs:complexType name="AttributeTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="DataTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeTypeContract" nillable="true" type="tns:AttributeTypeContract" />
</xs:schema>